# Naive Bayes Classifier

Predict whether the mail is spam or not spam using Naive Bayes Classifier

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("spam.csv")
df.head()

  Category                                            Message Unnamed: 2
0      ham  Go until jurong point, crazy.. Available only ...        NaN
1      ham                      Ok lar... Joking wif u oni...        NaN
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...        NaN
3      ham  U dun say so early hor... U c already then say...        NaN
4      ham  Nah I don't think he goes to usf, he lives aro...        NaN

In [5]:
df.groupby('Category').describe()

                                                   Message         \
                                                     count unique
Category
ham                                                   4825   4516
ham     HI BABE UAWAKE?FEELLIKW SHIT.JUSTFOUND ...       1      1
ham     Yeah                                             1      1
spam                                                   747    640

                                                                                                       \
                                                                                                  top
Category
ham                                                                            Sorry, I'll call later
ham     HI BABE UAWAKE?FEELLIKW SHIT.JUSTFOUND ...                                DEVIOUSBITCH.ANYWAY
ham     Yeah                                                    give me a call if you've got a minute
spam                                                Please call our customer service representativ...

                                                        Unnamed: 2         \
                                                   freq      count unique
Category
ham                                                  30          0      0
ham     HI BABE UAWAKE?FEELLIKW SHIT.JUSTFOUND ...    1          1      1
ham     Yeah                                          1          0      0
spam                                                  4          0      0


                                                              top freq
Category
ham                                                           NaN  NaN
ham     HI BABE UAWAKE?FEELLIKW SHIT.JUSTFOUND ...  I’L CALL U"""    1
ham     Yeah                                                  NaN  NaN
spam                                                          NaN  NaN

In [6]:
df['spam']=df['Category'].apply(lambda x: 1 if x=='spam' else 0)
df.head()

  Category                                            Message Unnamed: 2  spam
0      ham  Go until jurong point, crazy.. Available only ...        NaN     0
1      ham                      Ok lar... Joking wif u oni...        NaN     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...        NaN     1
3      ham  U dun say so early hor... U c already then say...        NaN     0
4      ham  Nah I don't think he goes to usf, he lives aro...        NaN     0

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.Message,df.spam)

In [8]:
from sklearn.feature_extraction.text import CountVectorizer
v = CountVectorizer()
X_train_count = v.fit_transform(X_train.values)
X_train_count.toarray()[:2]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [9]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(X_train_count,y_train)

MultinomialNB()

In [18]:
emails = [
    'Hey lalit, can we get together to watch footbal game tomorrow?',
    'Upto 20% discount on parking, exclusive offer just for you. Dont miss this reward!',
]
emails_count = v.transform(emails)
model.predict(emails_count)

array([0, 1, 0], dtype=int64)

In [11]:
X_test_count = v.transform(X_test)
model.score(X_test_count, y_test)

0.9856527977044476

# Sklearn Pipeline

In [12]:
from sklearn.pipeline import Pipeline
clf = Pipeline([
    ('vectorizer', CountVectorizer()),
    ('nb', MultinomialNB())
])

In [13]:
clf.fit(X_train, y_train)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [14]:
clf.score(X_test,y_test)

0.9856527977044476

In [15]:
clf.predict(emails)##0 it's not spam 1 it's spam

array([0, 1], dtype=int64)